{% extends "main.html" %}

{% block crud_container %}
{% if message %}
<article class="card container fluid">
    <br>
    <h2> ID: {{message.id}}</h2>
    <p>
        <strong> Name: {{message.username}}</strong>
        <br>
        <strong> Age: {{message.age}}</strong>
    </p>

</article>
{% else %}
    <section class="container-fluid">
        <h2 align="center"> Users </h2>
        <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                <li class="list-group-item"><a href="user/{{ message.id }}">{{message.id}}. {{message.username}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}
{% endblock %}